* {
    font-family: sans-serif;
}


header,
.explore-travel-section,
.popular-tour-section,
.choose-destination,
.choose-section,
.deal-destination-section,
.Travel-booking-section {
    width: 83%;
    margin: 0 auto;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.hamburger {
    display: none;
}

.logo {
    display: flex;
    width: 60%;
}

.logo img {
    padding: 35px 10px 35px 10px;
}

.logo h3 {
    font-size: 36px;
    font-weight: 600;
    padding-top: 3px;
}

.navbar {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400px;
}


/* Explore Travel  */
.explore-travel-section {
    height: 500px;
    background-image: linear-gradient(to bottom, #131318 0%, rgba(7, 2, 17, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
}

.travel-title {
    color: white;
    text-align: center;
}

#title {
    font-size: 64px;
    font-weight: 400;
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.travel-title p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 17px;
    padding-bottom: 48px;
}

.travel-place {
    background-color: rgba(255, 255, 255, 0.3);
    /* padding: 16px; */
    width: 80%;
    border-radius: 8px;
    margin: auto;
    text-align: center;
}

.travel-place input,
select,
.button-primary {
    width: 20%;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    border-radius: 8px;
    border: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 14px;
    margin-left: 14px;
}

.button-primary {
    background-color: rgb(255, 84, 0);
    color: white;
    width: 20%;
}

.travel-place input {
    text-align: center;
}


/* Popular Tour  */
.popular-tour-section {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.popular-tour-text h2 {
    font-size: 40px;
    font-weight: 400;
}

.popular-tour-text p,
li {
    font-size: 16px;
    font-weight: 400;
    counter-reset: rgba(19, 19, 24, 0.7);
    text-decoration: none;
    padding-top: 16px;
}

.popular-tour-section .button-primary {
    margin-left: 0px;
}

.popular-tour-section ul {
    list-style-type: none;
}

.popular-tour-text .button-primary {
    width: 30%;
}


/* Choose Your Destination  */
.choose-title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 100px;
    text-align: center;
}

.choose-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
    color: rgba(19, 19, 24, 0.7);
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    color: white;

}

.container div {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 400;
}

.one {
    grid-column: span 6;
    background-image: url('../Images/Rectangle\ 5.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    /* margin-bottom: 20px; */
}

.two {
    grid-column: span 6;
    background-image: url('../Images/Rectangle\ 8.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.three {
    grid-column: span 4;
    background-image: url('../Images/Rectangle\ 6.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.four {
    grid-column: span 5;
    background-image: url('../Images/Rectangle\ 7.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.five {
    grid-column: span 3;
    background-image: url('../Images/Rectangle\ 9.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.six {
    grid-column: span 5;
    background-image: url('../Images/Rectangle\ 11.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: -10px;
}

.seven {
    grid-column: span 7;
    background-image: url('../Images/Rectangle\ 10.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: -10px;
}



/* Why Choose Us  */
.card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
}

.card div {
    height: 230px;
    border-radius: 16px;
    padding: 32px;
}

.card-title {
    font-size: 24px;
    font-weight: 400;
}

.card-description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(90, 90, 93);
}

.card-one {
    grid-column: span 6;
    background-color: rgba(251, 181, 99, 0.05);

}

.card-two {
    grid-column: span 6;
    background-color: rgba(41, 206, 246, 0.2);
}

.card-three {
    grid-column: span 6;
    background-color: rgba(233, 68, 68, 0.2);
    margin-left: 265px;
    margin-right: -275px;
}



/* Deals & Discounts  */

.deals-discount-container {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;

}

.card-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

.card-div div {
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
}

#card-text-title {
    font-size: 24px;
    font-weight: 400;
}

.card-text-part p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(90, 90, 93);
}

#price {
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 84, 0);
}

.card-text-part .button-primary {
    margin: 0px;
    width: 30%;
}



.card-container {
    background-color: rgba(255, 255, 255, 0.8);
    height: 60%;
    width: 40%;
    padding: 50px;
    margin: 50px 50px 40px 50px;
    border-radius: 16px;
}

.deals-discount-one {
    background-image: url('../Images/Group\ 39.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
}

.deals-discount-two {
    background-image: url('../Images/Group\ 40.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
}

.deals-discount-three {
    background-image: url('../Images/Group\ 39.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
}

.deals-discount-one .card-container {
    float: right;
}

.deals-discount-three .card-container {
    float: right;
}

.btn {
    display: flex;
    justify-content: center;
}


/* Booking for Travel */

.Travel-booking-section {
    display: flex;
    gap: 24px;
    height: 350px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.travel-booking-left {
    width: 40%;
    border: 1px solid rgb(255, 84, 0);
    padding: 0px 40px 0px 40px;
    border-radius: 16px;
}

.travel-booking-left h3 {
    font-size: 24px;
    font-weight: 400;
}

.travel-booking-left p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(90, 90, 93);
}

.line {
    height: 1px;
    background-color: rgba(19, 19, 24, 0.1);
    width: 100%;
    margin: auto;
    margin-bottom: 24px;
}

.travel-booking-left input {
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    border: 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.3);
    padding: 14px 20px 14px 20px;
    margin-bottom: 20px;
    width: 90%;
}

.btn-secondary {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    border-radius: 8px;
    border: 0px;
    background-color: rgb(255, 84, 0);
    color: white;
    /* margin-bottom: 0px; */
}

.travel-booking-right {
    width: 60%;
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

}

.travel-booking-right div {
    color: white;
    background-color: rgb(255, 84, 0);
    text-align: center;
    border-radius: 16px;
    position: absolute;
    bottom: 45px;
    right: 15px;
    padding: 0px 40px 0px 40px;
    transform: rotate(-19.63deg);
}


.travel-booking-right p {
    font-size: 24px;
    font-weight: 400;
}

.travel-booking-right h3 {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 400;
}


/* footer  */
footer {
    width: 100%;
    background-color: rgba(19, 19, 24, 0.05);
    margin: auto;
    text-align: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

.footer-logo img {
    padding: 15px 0px 15px 0px;
}

.footer-logo h3 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 3px;
}

footer p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(90, 90, 93);
}

.right {
    padding-bottom: 100px;
}

footer .line {
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
}


@media screen and (min-width: 0px) and (max-width: 768px) {

    header,
    .explore-travel-section,
    .popular-tour-section,
    .choose-destination,
    .choose-section,
    .deal-destination-section,
    .Travel-booking-section {
        width: 90%;
        margin: 0 auto;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .logo {
        display: flex;
        width: 90%;
    }

    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
        width: 10%;
        padding-top: 50px;
    }

    /* Explore Travel  */

    #title {
        font-size: 22px;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .travel-title p {
        font-size: 14px;
        font-weight: 400;
        padding-top: 10px;
        padding-bottom: 20px;
        width: 90%;
        margin: auto;
    }

    .travel-place input,
    select,
    .button-primary {
        width: 80%;
        font-size: 16px;
        font-weight: 400;
        padding: 16px;
        border-radius: 8px;
        border: 0px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-right: 14px;
        margin-left: 14px;
    }

    .travel-place input {
        width: 70%;
    }


    /* Popular Tour  */
    .popular-tour-section {
        display: flex;
        flex-direction: column;
    }

    .travel-image img {
        width: 100%;
    }


    /* Choose Your Destination  */
    .choose-title {
        font-size: 22px;
        margin-top: 24px;
    }

    .choose-description {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;

    }

    .container div {
        /* position: absolute; */
        width: 100%;
        height: 270px;
    }

    .one {
        grid-column: span 12;
        height: 100%;
    }

    .two {
        grid-column: span 12;
        margin-top: -40px;
    }

    .three {
        grid-column: span 12;
        margin-top: -80px;
    }

    .four {
        grid-column: span 12;
        margin-top: -70px;
    }

    .five {
        grid-column: span 12;
        margin-top: -5px;
    }

    .six {
        grid-column: span 12;
        margin-top: 5px;
    }

    .seven {
        grid-column: span 12;
        margin-top: 5px;
    }

    /* Why Choose Us  */

    .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .card div {
        height: 230px;
        border-radius: 16px;
        padding: 32px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-description {
        font-size: 14px;
    }

    .card-one {
        grid-column: span 6;
        background-color: rgba(251, 181, 99, 0.05);

    }

    .card-two {
        grid-column: span 6;
        background-color: rgba(41, 206, 246, 0.2);
    }

    .card-three {
        grid-column: span 6;
        background-color: rgba(233, 68, 68, 0.2);
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Deals & Discounts  */

    .deals-discount-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;

    }

    .card-div {
        flex-wrap: wrap;
        gap: 10px;
    }

    .card-div div {
        font-size: 14px;
    }

    #card-text-title {
        font-size: 20px;
    }

    .card-text-part p {
        font-size: 14px;
    }

    #price {
        font-size: 14px;
    }

    .card-text-part .button-primary {
        margin: 0px;
        font-size: 14px;
        width: 40%;
    }

    .card-container {
        background-color: rgba(255, 255, 255, 0.8);
        width: 70%;
        padding: 15px;
        margin: 100px 50px 40px 50px;
        border-radius: 16px;
    }

    .deals-discount-one {
        background-size: cover;
    }

    .deals-discount-two {
        background-size: cover;
    }

    .deals-discount-three {
        background-size: cover;
    }


    /* Booking for Travel */

    .Travel-booking-section {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .travel-booking-left {
        width: 100%;
        border: 1px solid rgb(255, 84, 0);
        padding: 0px 10px 0px 10px;
        border-radius: 16px;
    }

    .travel-booking-left h3 {
        font-size: 20px;
    }

    .travel-booking-left p {
        font-size: 14px;
    }

    .travel-booking-left input {
        border: 0px;
        font-size: 14px;
        margin-bottom: 20px;
        width: 90%;
    }

    .btn-secondary {
        margin-bottom: 10px;
    }

    .travel-booking-right {
        height: 100%;
        width: 90%;
        background-image: url('../Images/Rectangle\ 8\ \(1\).png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        margin-top: 350px;

    }

    .travel-booking-right div {
        border-radius: 16px;
        position: absolute;
        bottom: 345px;
        right: 10px;
    }


    .travel-booking-right p {
        font-size: 14px;
    }

    .travel-booking-right h3 {
        margin-top: 16px;
        font-size: 20px;
    }

    /* footer  */
    footer {
        margin-top: 350px;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        
    }

    .footer-logo img {
        padding: 15px 0px 15px 0px;
    }

    .footer-logo h3 {
        font-size: 24px;
        font-weight: 600;
        padding-top: 3px;
    }

    footer p {
        font-size: 14px;
        width: 90%;
        margin: auto;
        padding-bottom: 15px;
    }

    .right {
        padding-bottom: 40px;
    }

    footer .line {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

}